$main: #05A62D;
$secondary: #1FA641;

.logo{
    color: $main;
    border-radius: 2rem;
}
.login-btn{
    border-radius: .5rem;
    border: 2px solid $main;
}
.elt__input{
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
    input{
        padding-left: .5rem;
        width: 100%;
        border: 2px solid $main;
        outline: none;
        height: 60%;
        border-radius: .5rem;
    }
}


@media  screen and (max-width: 768px) {
    .section-right{
        display: none !important;
    }
    .section-left{
        width: 100%;
    }
}
