$main: #05A62D;
$secondary: #1FA641;

.logo{
    color: $main;
    border-radius: 2rem;
}
.login-btn{
    border-radius: .5rem;
    border: 2px solid $main;
}
.container-registry{
    overflow: hidden !important;
    position: relative;
    font-family: "devfest" sans-serif;
}
.elt__input{
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1rem;
    input{
        padding-left: .5rem;
        width: 100%;
        border: 2px solid $main;
        outline: none;
        height: 60%;
        border-radius: .5rem;
    }
}


@media  screen and (max-width: 768px) {
    .section-right{
        display: none !important;
    }
    .section-left{
        width: 100%;
    }
}
.cercle{
    position: absolute;
    height: 800px;
    width: 800px;
    // border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    bottom: -100px;
    right: -60px;
    background-color: $main;
    clip-path: polygon(99% 0, 100% 0, 100% 100%, 0% 100%);
}