<!-- <app-chat></app-chat> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the-audio-cards</title>
</head>
<body class="overflow-hidden">
    <nav class="flex justify-start items-center flex-row h-[10vh] w-full pl-8">
         <div class="menue w-1/4">
            <span class="text-[2rem] text-main">T-IA-DIO</span>
            <span>
                <mat-icon>menu</mat-icon>
            </span>
            <span>
                <mat-icon>shopping_cart</mat-icon>
            </span>
         </div>
    </nav>
    <div class="cards"> 
        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvdy0c-6pEqVxSxPzIcXX5DZREv5nFUXEEkGmCtJ5TFOz9ZqVhBm98RMptTKxgdf5Zme4&usqp=CAU" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pop corne</h3>
                <p> Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 

        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgj51Dr420yuVVYZSJvZpTAKNRLhPUKq5qKg&s" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Nature</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  

        <div class="card-item">
            <div class="card-header">
                <img src="img/card1.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur debitis, mollitia omnis iusto velit harum sed natus voluptatem qui enim cupiditate perferendis blanditiis, totam earum voluptate aliquid reiciendis adipisci consequatur!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  

        <div class="card-item">
            <div class="card-header">
                <img src="img/card1.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  

        <div class="card-item">
            <div class="card-header">
                <img src="https://doanhnhanplus.vn/wp-content/uploads/2020/12/20201114-doanhnhanplus-louis-vuitton-tambour-damier-2.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  

        <div class="card-item">
            <div class="card-header">
                <img src="img/card1.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  

        <div class="card-item">
            <div class="card-header">
                <img src="https://medias.collectorsquare.com/images/products/399059/00pp-sac-de-week-end-louis-vuitton-keepall-editions-limitees-x-nba-en-cuir-monogram-blanc-antarctica-et-bleu.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 

        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkK8_d1iXcgVGDeqipA0FJxQujrjf02Rit5A&s" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>   

        <div class="card-item">
            <div class="card-header">
                <img src="https://media.fashionnetwork.com/cdn-cgi/image/fit=contain,width=1000,height=1000,format=auto/m/4b04/eb52/1a7b/d2f1/269d/b2e9/dde7/0337/59bd/b786/b786.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 
        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkK8_d1iXcgVGDeqipA0FJxQujrjf02Rit5A&s" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>   

        <div class="card-item">
            <div class="card-header">
                <img src="https://media.fashionnetwork.com/cdn-cgi/image/fit=contain,width=1000,height=1000,format=auto/m/4b04/eb52/1a7b/d2f1/269d/b2e9/dde7/0337/59bd/b786/b786.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pepsi no sugar</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eveniet corrupti quidem totam non deleniti!</p>
                <div class="actions">             
                    <button class="btn-action">
                        Add   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  
         
    </div> 
</body>
</html>