<!-- <app-chat></app-chat> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the-audio-cards</title>
</head>
<body class="overflow-hidden">
    <nav class="flex justify-start items-center flex-row h-[10vh] w-full pl-4">
         <div class="menue w-5/6 md:w-1/4 h-full ">
    
                <button mat-icon-button><mat-icon>menu</mat-icon></button>
        
                <button mat-icon-button> 
                         <mat-icon>shopping_cart</mat-icon>
                </button>
        
            <span class="text-[1.2rem] sm:text-[2rem] text-main">T-IA-DIO</span>
         </div>
    </nav>
    <div class="cards"> 
        <div class="card-item">
            <div class="card-header">
                <img src="https://c.pxhere.com/photos/10/40/mature_auto_tires_tires_rubber_garbage_pollution_environment_environmental_protection-1106563.jpg!d" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Pneu</h3>
                <p> recyclé pour fabriquer des objets utiles comme des sièges, des jardinières ou des structures de terrain de jeux. Il peut également être transformé en granulés pour créer des revêtements de sol, des pistes d’athlétisme ou des isolants.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 

        <div class="card-item">
            <div class="card-header">
                <img src="https://static.euronews.com/articles/stories/07/64/08/74/1440x810_cmsv2_390d5cf4-4bfe-55dd-a0b7-fad97dfaa29b-7640874.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Bouteille</h3>
                <p>peut être de servir comme support créatif pour des projets de bricolage, tels que des vases personnalisés ou des lampes originales. Elle peut aussi être recyclée pour fabriquer de nouvelles bouteilles ou des objets en verre, réduisant ainsi son impact environnemental.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>    

        <div class="card-item">
            <div class="card-header">
                <img src="https://www.moijefais.com/wp-content/uploads/2015/02/mosa%C3%AFque-dvd-8.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Vieux CD/DVD</h3>
                <p>Réutilisables pour des mosaïques, des dessous de verre ou des décorations brillantes.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>   

        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlQgRNG_btpTy6ZBx6RISVRcLGEc80CP-VOA&s" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Clés inutilisées</h3>
                <p>Parfaites pour créer des porte-clés, des mobiles décoratifs, ou des œuvres d'art murales.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 

        <div class="card-item">
            <div class="card-header">
                <img src="https://blog-media.but.fr/wp-content/uploads/2023/06/03-borne-recyclage-ampoule-1-700x1024.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Ampoules usées</h3>
                <p>Réutilisables en mini-vases ou en globes de décoration suspendus.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>   

        <div class="card-item">
            <div class="card-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs0Rhfclu84Rjt1OvdR7FnE_hFlOXVM9u4-w&s" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Boîtes de conserve</h3>
                <p>Utilisables comme pots de fleurs, boîtes à crayons ou lanternes percées.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div> 
        <div class="card-item">
            <div class="card-header">
                <img src="https://www.leslunettesecologiques.com/wp-content/uploads/2018/11/lunettes-recycle%CC%81es-300x178.png" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Anciennes lunettes</h3>
                <p>Réparées pour d’autres utilisateurs ou transformées en œuvres artistiques.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>   

        <div class="card-item">
            <div class="card-header">
                <img src="https://cyclad.org/app/uploads/2022/07/bouchon-en-liege.jpg" alt="Pepsi">
            </div>
            <div class="card-footer">
                <h3>Bouchons en liège</h3>
                <p>Parfaits pour fabriquer des tableaux mémo, des sous-verres ou des poignées d'armoires.</p>
                <div class="actions">             
                    <button class="btn-action">
                        Ajouter   
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                       </svg>
                    </button>
            </div>
            </div>
        </div>  
         
    </div> 
</body>
</html>