<div class="containet-chat w-full h-[100vh] flex justify-center items-center flex-col relative">
    <div class="loading absolute w-1/2 flex justify-center items-center top-10">
        <mat-spinner mode="indeterminate" *ngIf="loading"></mat-spinner>
    </div>
    <div class="chat-content w-1/4 h-[90%] flex justify-between items-center flex-col">
        <div class="image h-[50%]">
            <img src="../../../assets/img/bot.png" class="w-full" alt="">
        </div>
        <div class="description">
            <span class="text-[1.2rem]">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, natus. Iusto vitae adipisci saepe accusamus!
            </span>
        </div>
        <div class="foot flex justify-around items-center flex-row w-full">
            <button mat-icon-button> <mat-icon>camera_enhance</mat-icon> </button>
            <div class="circle-file-upload cursor-pointer">
                <input type="file" id="fileInput" (change)="onFileSelected($event)">
                <mat-icon>cloud_upload</mat-icon>
            </div>
            <button mat-icon-button (click)="analyse()"> <mat-icon>send</mat-icon> </button>
        </div>
    </div>
</div>