<div class="container-registry">
    <div class="progress">
        <mat-progress-bar mode="determinate" [value]="value"></mat-progress-bar>
    </div>
    <div class="container-input" [formGroup]="infoGroup" [ngClass]="value === 80 ? 'pricing' : 'container'">
        <div class="up" *ngIf="value === 20">
            <div class="title">
                <mat-card-title>Créez un compte Gesco</mat-card-title>
                <mat-card-subtitle>Saisissez le nom de votre école</mat-card-subtitle>
            </div>
            <div class="item-input">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Nom école</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-icon matSuffix>domain</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Slogan (facultatif)</mat-label>
                    <input type="text" matInput formControlName="slogan">
                    <mat-icon matSuffix>flag</mat-icon>
                </mat-form-field> -->
            </div>
        </div>
        <div class="up" *ngIf="value === 40">
            <div class="title">
                <mat-card-title>Information Generale</mat-card-title>
                <mat-card-subtitle>Saisissez votre coordonné</mat-card-subtitle>
            </div>
            <div class="item-input">
                <!-- <div class="up-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Adresse</mat-label>
                        <input type="text" matInput formControlName="address">
                        <mat-icon matSuffix>location_on</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Phone</mat-label>
                        <input type="tel" matInput formControlName="phone">
                        <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field> -->
            </div>
        </div>
        <div class="up" *ngIf="value === 60">
            <div class="title">
                <mat-card-title>Information Suplementaire</mat-card-title>
                <mat-card-subtitle>Saisissez les caracteristique de votre école</mat-card-subtitle>
            </div>
            <div class="item-input">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Domaine</mat-label>
                    <mat-select formControlName="domaine">
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Description de votre Ecole</mat-label>
                    <textarea matInput rows="5" formControlName="description"></textarea>
                </mat-form-field> -->
            </div>
        </div>
        <div class="up" *ngIf="value === 80">
            <div class="title">
                <mat-card-title>Type d'abonnement</mat-card-title>
                <mat-card-subtitle>Choisir l'abonnement qui vous correspondent</mat-card-subtitle>
                <div class="help"><a href="#">Plus d'information</a></div>
            </div>
            <div class="item-input">
                <div class="premium" (click)="selectPrice('premium')" [ngClass]="state1 ? 'selected' : 'premium'">
                    <mat-card-title>Premium</mat-card-title>
                    <mat-card-subtitle><span class="number">865 000Ar</span> tcc/moi</mat-card-subtitle>
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-patch-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                        <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
                    </svg>
                </div>
                <div class="standard_premium_plus">
                    <div class="standard" (click)="selectPrice('standard')" [ngClass]="state2 ? 'selected' : 'standard'">
                        <mat-card-title>Standard</mat-card-title>
                        <mat-card-subtitle>865 000Ar tcc/mois</mat-card-subtitle>
                    </div>
                    <div class="premium_plus" (click)="selectPrice('premium+')" [ngClass]="state3 ? 'selected' : 'premium_plus'">
                        <mat-card-title>Premium<mat-icon>add</mat-icon></mat-card-title>
                        <mat-card-subtitle>865 000Ar tcc/mois</mat-card-subtitle>
                    </div>
                </div>
            </div>
        </div>
        <form class="up" *ngIf="value === 100">
            <div class="title">
                <mat-card-title>Securité</mat-card-title>
                <mat-card-subtitle>Saisissez votre mot de passe</mat-card-subtitle>
            </div>
            <div class="item-input">
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="current-password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field> -->
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Confirmer votre mot de passe</mat-label>
                    <input type="password" matInput [type]="hide1 ? 'password' : 'text'" formControlName="confirmPassword" autocomplete="current-password" required>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                        <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field> -->
            </div>
        </form>
        <div class="down">
            <button mat-raised-button (click)="back()" *ngIf="value !== 20" class="btn-back">précédent</button>
            <button mat-raised-button (click)="next(); unselected()" *ngIf="value === 80" class="btn-test">Essaie Gratuit</button>
            <button mat-raised-button (click)="next()" class="btn-next" *ngIf="value < 100 && value !== 80">Suivant</button>
            <button mat-raised-button (click)="submit()" class="btn-next" *ngIf="value === 100" [disabled]="infoGroup.invalid">Terminé</button>
        </div>
    </div>
</div>